
<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>{{expense.id ? 'Edit' : 'Add' }} Expense</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="submitting">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input [disabled]="submitting" formControlName="name" maxlength="40" placeholder="Enter the expense's name" [required]="false"></ion-input>
  </ion-item>

  <!-- Select Category -->
  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select interface="popover" formControlName="categoryId" placeholder="Choose a category" value="Category" [disabled]="submitting">
      <ion-select-option></ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</ion-select-option>
    </ion-select>
    <ion-button slot="end" size="small" (click)="openModal()">+</ion-button>
  </ion-item>

  <!-- Amount in CHF -->
  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input formControlName="amount" inputmode="decimal" type="number" placeholder="Enter the amount in CHF" required step="0.01" [disabled]="submitting"></ion-input>
  </ion-item>

  <!-- Select Date -->
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime-button datetime="date" color="primary" [disabled]="submitting">
    </ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="date" presentation='date' formControlName='date'></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Delete Button -->
  <ion-fab *ngIf="expense.id" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger" [disabled]="submitting" >
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
